<%= form_for @order do |form| %>
  <% if order.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
        <% order.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email %>
  </div>

  <div>
    <%= form.label :status, style: "display: block" %>
    <%= form.text_field :status %>
  </div>

  <div>
    <%= form.label :total, style: "display: block" %>
    <%= form.text_field :total %>
  </div>

  <div>
    <%= form.fields_for :OrderDetail do |builder| %>
      <%= render 'order_detail_fields', f: builder %>
      <%= link_to "[add]",class_names: "add_fields" %>
    <%end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
<script>
    $('.remove_fields').click(function () {
        $(this).prev('input[type=hidden]').val('1')
        $(this).closest('fieldset').hide()
        this.preventDefault()
    })
    $('.add_fields').click(function () {
        time = new Date().getTime()
        regexp = new RegExp($(this).data('id'), 'g')
        $(this).before($(this).data('fields').replace(regexp, time))
        this.preventDefault()
    })
</script>
