<fieldset>
  <% f.select :field_type, %w[collection_select, number_field]%>
  <%= f.collection_select :menu_id, Menu.all, :id, :name, include_blank: true %>
  <%= f.number_field :quantity %>
  <%= f.hidden_field :_destroy %>
  <%= link_to "[remove]", class: "remove_fields" %>
</fieldset>